footer{
	background-color: #2980B9;
	color: #ECF0F1;
	text-align: center;
	bottom: 0;
	width: 100%;

  a{
	color: #ECF0F1;

	&:hover{
	  color: $secondary-color;
	}
  }

  .footer{
	padding: 0;
  }

  img .logo{
	text-align: left;
  }
}
