.hero-section {
  background-image: url("/img/heroImage.jpg");
  background-size: cover;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;

	h1 h3 {
	  color: #ECF0F1;
	}
  }
}

.hero2 {
  background-image: url("/img/how.jpg");
  background-size: cover;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero2-text {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;
  }
}

.hero3 {
  background-image: url("/img/social.png");
  background-size: cover;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero3-text {
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;
  }
}

.hero-section.seguridad {
  background: #000000 url("/img/proteccionendPoint.png") no-repeat fixed center 120px;
  opacity: .8;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.seguridad {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;

	h1 h2 {
	  color: #ECF0F1;
	  font-weight: bold;
	}
  }
}

.hero-section-text {
  @include breakpoint (small only) {
	margin-top: 210px;
  }
}

.hero-section.infraestructura {
  background: #000000 url("/img/network.jpg") no-repeat fixed center 0;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.infraestructura {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;

	h1 h2 {
	  color: #ECF0F1;
	  font-weight: bold;
	}
  }
}

.hero-section-text {
  @include breakpoint (small only) {
	margin-top: 210px;
  }
}

.hero-section.segurinfo {
  background: #000000 url("/img/segurinfo_banner.png") no-repeat fixed center 1px;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.segurinfo {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;

	h1 h2 {
	  color: #ECF0F1;
	  font-weight: bold;
	}
  }
}

.hero-section-text {
  @include breakpoint (small only) {
	margin-top: 210px;
  }
}

.hero-section.nosotros {
  background: #000000 url("/img/about.jpg") no-repeat fixed center 0;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.nosotros {
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	padding: 1em;

	h1 h2 {
	  color: #ECF0F1;
	  font-weight: bold;
	}
  }
}

.hero-section-text {
  @include breakpoint (small only) {
	margin-top: 210px;
  }
}

.hero-section.website {
  background: #000000 url("/img/email.jpg") no-repeat fixed center 96px;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.web {
	color: #cb3e0f;
	//text-shadow: 1px 1px 2px #cb3e0f;
	padding: 1em;

	/*h1 h2 {
	  color: #cb3e0f;
	  font-weight: bold;
	}*/
  }
}

.hero-section.capacitaciones {
  background: #000000 url("/img/capacitaciones.jpg") no-repeat fixed center 96px;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.web {
	color: #cb3e0f;
	//text-shadow: 1px 1px 2px #cb3e0f;
	padding: 1em;

	/*h1 h2 {
	  color: #cb3e0f;
	  font-weight: bold;
	}*/
  }
}

.hero-section.contacto {
  background: #000000 url("/img/contact.jpg") no-repeat fixed center 0;
  background-size: cover;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-section-text.contacto {
	color: #cb3e0f;
	//text-shadow: 1px 1px 2px #cb3e0f;
	padding: 1em;

	/*h1 h2 {
	  color: #cb3e0f;
	  font-weight: bold;
	}*/
  }
}
