li a{
  padding: 0;
  margin: 0;
  box-shadow: 1px 0 #fff;
  transition: all 1.5s;
  color: #fff;
  display: block;
  cursor: pointer;

  &:hover{
	color: #fff000;
	font-weight: 700;
  }
}

// Hacks para alinear icon fonts
[class^="icon-"]:before,
[class*=" icon-"]:before {
  position: relative;
  top: .15em;
  display: inline-block
}

.espacio:before {
  margin-right: .3em;
}