$cssCore    : false;
$cssHelpers : true;
$devMode    : false;


@import 'ed-grid';

.main-nav{
  background: #003466;
  @include edNav(left, medium);

  a{
	color: #ffffff;
  }
}

.main-menu{
  padding: 1em;
  @include edMenu(medium);
}

.nav-toggle{

  @include navToggle(15px, #003466);

  @include showTo(medium);
}