footer.footer.grid-x
	.cell
		#sociales
			a(href="https://www.facebook.com/secnar.co" target="_blank").sociales__item.icon-facebook
			a(href="https://twitter.com/secnar_colombia" target="_blank").sociales__item.icon-twitter
			a(href="http://www.youtube.com/c/Secnar" target="_blank").sociales__item.icon-youtube
	.cell

		p
			span Copyright © (2017) Juan Oliver. Todos los derechos reservados.
			span Consulte los
				a(href="../terminos-y-condiciones.html" target="_blank") Términos y codiciones del sitio |

				a(href="../politica-de-privacidad.html" target="_blank") Políticas de privacidad para mas información.

			span Prohibida su reproducción total o parcial sin el permiso explícito del autor

		p
			span Juan Oliver |
			span.icon-map-marker.espacio Cra. 21 #28-40

		p
			span.icon-phone.espacio +57 3006963394
		p
			span Cartagena - Colombia

		p
			span
				a(href="/humans.txt" target="_blank") Humans



	.small-6.cell
		p Hecho con
			span.i.icon-heartbeat.espacio en
			img(src="img/logo_cartagena_de_indias.png")

	.small-6.cell


	#ssl
		script(src="https://cdn.ywxi.net/js/1.js" async)