nav(data-sticky-container)
	.contain-to-grid(data-sticky data-margin-top="0" data-sticky-on="small" style="width:100%")
		.title-bar(data-responsive-toggle="main-menu")
			button.menu-icon(data-toggle="main-menu")
			.title-bar-title Menu

		.top-bar#main-menu(data-sticky data-margin-top="0")
			.top-bar-left.show-for-medium
				ul.menu
					a.sitio(href="/")
						img(src="../img/LogoBlanco80x80.png")
						span Security Nauj Revilo

			.top-bar-right
				ul.dropdown.menu.vertical.medium-horizontal(data-dropdown-menu data-responsive-menu="drilldown medium-dropdown")
					li
						a(href="/") Inicio
					li.is-dropdown-submenu-parent
						a.fi-list.espacio(href="#") Servicios
						ul.menu
							li
								a(href="seguridad.html") Seguridad Informática
							li
								a(href="segurinfo.html") Seguridad de la Información
							li
								a(href="infraestructura.html") Infraestructura
							li
								a(href="websites.html") Sitios Web & Correo Electrónico
							li
								a(href="capacitaciones.html") Capacitaciones
					li: a(href="/tienda") Tienda
					li: a(href="/blog" target="_black") Blog
					li: a(href="nosotros.html") Nosotros
					li: a.last(href="/contacto.html") Contacto