#nav-toggle.nav-toggle
nav.main-nav#main-nav
	ul.main-menu#main-menu
		li: a(href="#") Inicio
		li: a(href="#") Servicios
		li: a(href="#") Tienda
		li: a(href="#") Blog
		li: a(href="#") Nosotros
		li: a(href="#") Contacto