.title-bar(data-responsive-toggle="main-menu")
	button.menu-icon(data-toggle="")
	.title-bar-title Menu

.top-bar#main-menu
	.top-bar-left.show-for-medium
		ul.menu
			li: a(href="#") Security Nauj Revilo

	.top-bar-right
		ul.menu.vertical.medium-horizontal
			li: a(href="#") Inicio
			li: a(href="#") Servicios
			li: a(href="#") Tienda
			li: a(href="#") Blog
			li: a(href="#") Nosotros
			li: a(href="#") Contacto