script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- juanoliver2017 -->
ins.adsbygoogle
	style="display:block"
	data-ad-client="ca-pub-6323652906385212"
	data-ad-slot="8158044206"
	data-ad-format="auto"
