extends ../templates/layout

block content
	.hero-section.nosotros
		.hero-section-text
			h1 Nosotros protegemos su empresa
			h4 Ofrecemos soluciones y conocimientos de seguridad impulsados por la inteligencia


	section.quienes
		.media-object.stack-for-small
			.media-object-section
				.media-object-section
					img(src="img/logo.png" width="400" height="300")


			.media-object-section
				.media-object-section
					h2 ¿Quienes somos?
					hr
					p Somos especialistas en salvaguardar su información, con amplia experiencia en auditorías de seguridad, auditorías de cumplimiento, normas del sector financiero. Nos seguimos por las normas de trabajo internacionales como ISO 27000, COBIT y otras del sector.

					p Aplicamos estándares a la hora de ejecutar nuestras evaluaciones y nuestros diseños, ya sean de medidas de seguridad o de sitios web, haciendo estos últimos pensados en proteger su imagen corporativa y su información.

		.media-object.stack-for-small
			.media-object-section
				.media-object-section
					h2 Misión
					hr
					p Ser  una compañía de consultoría estratégica y servicios de seguridad de información y diseño web seguro, que ayude a proteger y generar valor a sus clientes apalancando el cumplimiento de sus objetivos estratégicos, mediante el uso de metodologías estructuradas y adaptables y posicionarnos como uno de los aliados de negocio más importantes de las empresas y organizaciones en Colombia, acompañándolas en sus procesos de crecimiento y adaptación a las condiciones cambiantes de los mercados globales en que compiten.


			.media-object-section
				.media-object-section
					img(src="img/mision.jpg" width="400" height="300")

		.media-object.stack-for-small
			.media-object-section
				.media-object-section
					img(src="img/vision.jpg" width="400" height="300")


			.media-object-section
				.media-object-section
					h2 Visión
					hr
					p SECNAR apunta a que en los próximos 10 años, será reconocida como una empresa de consultoría informática orientada a la seguridad de la información y el diseño web con un portafolio de servicios de calidad, excelencia e integralidad. Será percibida por sus clientes como un aliado estratégico representado en un excelente retorno de la inversión a través de la generación de valor  y con un alto nivel de satisfacción de sus clientes, empleados y socios y proveer a nuestros clientes servicios de la más alta calidad orientados a asegurar la continuidad de sus negocios y la protección de sus información y de su imagen corporativa.
