extends ../templates/layout

block content
	.hero-section.seguridad
		.hero-section-text
			h2 Seguridad Informática
			//h3 Lo que su empresa necesita para proteger su información

	//ul.tabs#tabs-seguridad(data-responsive-accordion-tabs="tabs small-accordion medium-tabs" role="tablist" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true")
	//	li.tabs-title.is-active
	//		a(href="#panel1" aria-selected="true") Seguridad Informática
	//	li.tabs-title
	//		a(href="#panel2") Administración de Firewalls
	//	li.tabs-title
	//		a(href="#panel3") Evaluaciones de Seguridad
	//	li.tabs-title
	//		a(href="#panel4") Escaneo de Vulnerabilidades
	//	li.tabs-title
	//		a(href="#panel5") Exámenes Forenses
	//	li.tabs-title
	//		a(href="#panel6") Análisis de Log´s
	//	li.tabs-title
	//		a(href="#panel7") Monitoreo de Seguridad de la Red


	.media-object.stack-for-small
		.media-object-section
			img(src="/img/endPoint.png" width="400" height="300")

		.media-object-section
			.media-object-section
				h4 Controles de seguridad de Red y EndPoint
				p Para defenderse frente a los ataques avanzados de hoy en día los antivirus tradicionales no son suficientes. Sin embargo, aplicando correctamente las medidas de protección necesarias es posible reducir sustancialmente el riesgo. Nuestra oferta de protección de endpoints para empresas se administra de forma centralizada y permiten protegerse frente al amplio espectro de amenazas, desde los exploits zero-day hasta los ataques selectivos avanzados, y protegen sistemas Windows, Mac y Linux.

				p Cuando su empresa crece, la cantidad de datos y dispositivos que hay que proteger y de sistemas de TI que hay que administrar crece en consecuencia. Necesita las herramientas adecuadas para identificar y eliminar las vulnerabilidades, detener las amenazas completamente y optimizar las tareas de administración de sistemas. Hay miles de nuevas aplicaciones en el mercado, y su número crece cada día. Rastrear las que son potencialmente peligrosas y las que no lo son representa todo un reto.
				a.button(href="#") Ir a la tienda

	.media-object.stack-for-small
		.media-object-section
			.media-object-section
				h4 Administración de Firewall´s
				p Para evitar que los dispositivos no autorizados accedan a su red, los controles de dispositivos le permiten configurar controles basados en la hora del día, la ubicación geográfica o el tipo de dispositivo. Puede alinear los controles con Active Directory para facilitar la administración y la asignación de políticas detalladas, crear reglas de control de dispositivos utilizando máscaras y, de ser necesario, autorizar varios dispositivos al mismo tiempo. Con la herramienta adecuada también es posible registrar todas las operaciones de "eliminación y copia" realizadas en dispositivos USB extraíbles y administrar los derechos de usuario para operaciones de "lectura y escritura" de archivos en CD o DVD.
				a.button(href="#") Ir a la tienda

		.media-object-section
			img(src="/img/firewall.gif" width="400" height="300")


	.media-object.stack-for-small
		.media-object-section
			img(src="/img/auditoria.png" width="400" height="300")

		.media-object-section
			.media-object-section
				h4 Evaluaciones de Seguridad
				p El uso indiscriminado de redes Wi-Fi públicas deja expuestos los dispositivos, y la red corporativa, a la posibilidad de sufrir un ataque. Al crear una lista de redes de confianza específicamente para sus empleados, podrá permitirles el acceso a redes Wi-Fi de confianza y prohibirles el uso de otras conexiones sin afectar su capacidad de trabajar fuera de la oficina.
				a.button(href="#") Ir a la tienda


	.media-object.stack-for-small
		.media-object-section
			.media-object-section
				h4 Escaneo de Vulnerabilidades
				p Puesto que pasamos cada vez más tiempo en línea, incluido el tiempo en el trabajo, las herramientas de control web disponibles le permiten configurar políticas de acceso a Internet y monitorear el uso de este recurso. Es sencillo prohibir, limitar, permitir y auditar las actividades que los usuarios realizan en sitios web específicos o en categorías de sitios web, como sitios de juegos, de redes sociales o de apuestas. Los controles geográficos y de la hora del día pueden alinearse con Active Directory para ayudar en la administración y el establecimiento de políticas.
				a.button(href="#") Ir a la tienda
		.media-object-section
			img(src="/img/vulnerabilidades.png" width="400" height="300")


	.media-object.stack-for-small
		.media-object-section
			img(src="/img/forense.jpg" width="400" height="300")
		.media-object-section
			.media-object-section
				h4 Análisis Forense
				p Ninguna aplicación ni sistema operativo están totalmente libres de vulnerabilidades. El malware puede aprovechar estas deficiencias para penetrar en su red, infectar las estaciones de trabajo y servidores, e interrumpir sus operaciones. Cuando hay muchas aplicaciones ejecutándose en una red (como suele ocurrir en la mayoría de las empresas), identificar las vulnerabilidades y mantener el software actualizado de forma manual resulta impracticable y arriesgado.
				p Las funciones de evaluación de vulnerabilidades y administración de parches algunos productos en el mercado automatizan los procesos de mitigación de vulnerabilidades de software. Las vulnerabilidades detectadas pueden priorizarse automáticamente y las actualizaciones y los parches pueden distribuirse de manera automática. Esto reduce drásticamente la posibilidad de que el malware cumpla su cometido.

	.media-object.stack-for-small
		.media-object-section
			.media-object-section
				h4 Análisis de Log´s
				p Todos los dispositivos de la red se detectan y se registran automáticamente en inventarios de hardware y software. El inventario de hardware contiene información detallada sobre cada dispositivo, mientras que el inventario de software ayuda a controlar el uso de aplicaciones y a bloquear las que no están autorizadas. Incluso los dispositivos invitados que aparecen en la red pueden detectarse automáticamente para brindarles privilegios de acceso sin comprometer la seguridad de los sistemas y datos corporativos.
		.media-object-section
			img(src="/img/log.png" width="400" height="300")