extends ../templates/layout

block content
	.hero-section.website
		.hero-section-text.web
			h2 Sitios Web & Correo Electrónico


	section
		.media-object.stack-for-small
			.media-object-section
				.media-object-section
					img(src="img/rwd.png" width="400" height="300")

			.media-object-section
				.media-object-section
					h2 Sitios Web
					p Hacemos su página web a su medida, con una arquitectura de la información optimizada para mostrar sus productos y servicios y teniendo en cuenta la seguridad de su información y su imagen corporativa.

					p Con nuestro acompañamiento y nuestra metodología de diseño web personalizado usted podrá solicitar su página web de acuerdo a su identidad corporativa y sus necesidades.
						ul
							li
								p Responsive Web Design, para adaptarse a cualquier dispositivo sin perder contenido.
							li
								p Posicionamiento en buscadores
							li
								p Sin plantillas, su sitio web será único.

						p Creemos que el diseño web es un término amplio que abarca mucho más que si un sitio web se ve bien o no. Diseño de sitios web incluye la estructura del mapa del sitio, asegurando que todas las páginas son fáciles de encontrar a través de una estructura lógica. El diseño de cada página, que garantiza que la información clave se presenta claramente y que la página no está congestionada, es tan importante como los aspectos finales del diseño de los colores y las fuentes.

		.media-object.stack-for-small
			.media-object-section
				.media-object-section
					h3 Ciclo de vida

					p El enfoque central de la organización de su sitio web es la noción de que un sitio web no es un proyecto que tiene un comienzo y un final ordenados y definibles. Los sitios web eficaces se manejan alrededor de la noción de que están vivos y que tienen un ciclo de vida. Esto se aplica incluso a los sitios web que se crean para un propósito a corto plazo, donde hay un punto predeterminado en el que el sitio se eliminará de la Web.
					p Adicionalmente y de manera interna trabajamos cada sitio web con un ciclo de vida orientado a cada una de las fases generales para cada sitio web, como son Análisis, Especificaciones, Diseño y Desarrollo, Escritura del contenido, codificación, pruebas, optimización del SEO y Social Media, Mantenimiento y Actualización.
			.media-object-section
				.media-object-section
					img(src="img/cicloweb.png" width="400" height="300")

		.media-object.stack-for-small
			.media-object-section
				.media-object-section
					img(src="img/rwd.png" width="400" height="300")

			.media-object-section
				.media-object-section
					h3 Diseño Web

					p Cada paso en nuestro proceso nos ayuda a enfocar y perfeccionar más de cerca la experiencia de un usuario. Esencialmente estamos estableciendo orientación y señalización en un wireframe, donde empezamos a mirar más de cerca los elementos que un usuario verá en la pantalla misma: contenido, navegación, llamadas a la acción, características interactivas, etc.

					p Utilizamos este proceso para identificar prioridades de contenido y características:

					ul
						li
							p ¿Qué necesita un visitante para ver primero?
						li
							p ¿Qué sabemos de este usuario?

					p Los Wireframes son los documentos que generamos a partir de este proceso, son esbozos esencialmente estáticos (o interactivos) que demuestran el contenido, las características y la navegación que tendrá un sitio web. También se convierten en el modelo para diseñadores, desarrolladores, escritores de contenido, animadores y equipos de SEO para que todos tengan voz y entiendan lo que una página específica necesita hacer y lo que necesitan hacer para llevarla a la realidad.

		.media-object.stack-for-small
			.media-object-section
				h2 Correo Electrónico

				p El cambio de creación de contenido individual a colaboración en tiempo real, dónde sea, cuándo sea se incrementa constantemente.
				p Proteja su información y mantenga su negocio corriendo con Servicios de calidad Empresarial, fáciles de poner en marcha y de administrar

		.media-object.stack-for-small
			.media-object-section
				img(src="img/pyme50.png" width="128" height="128")
			.media-object-section
				p del correo Empresarial es consumido por usuarios en tabletas, smartphones u otro dispositivo que no es el primario.

			.media-object-section
				img(src="img/pyme71.png" width="128" height="128")
			.media-object-section
				p de las PYMEs consideran que las apps móviles sustituirán completamente Soluciones tradicionales en un futuro cercano.


		.media-object.stack-for-small
			.media-object-section
				p Algunas de las caracgteristicas ofrecidas por Office 365 son:
				ul
					li
						p Su información segura y bajo control
					li
						p Todas las funcionalidades de cumplimiento que necesitas en un solo lugar
					li
						p Acceso a suporte en tiempo real 24/7
					li
						p Experiencia sincronizada, consistente y familiar entre PC/MACs, Tabletas y Smartphones
					li
						p 1TB de almacenamiento en la nube de Microsoft

			.media-object-section
				img(src="img/pyme.png" width="800" height="600")

		#dccn-emdedESLoffice365