<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
		meta(description="Aquí encontrará información, productos y servicios para asegurar su información, tanto personal como empresarial. Ofrecemos experiencia y análisis para ayudarle a mejorar su postura de seguridad, reducir el riesgo, facilitar el cumplimiento legal y mejorar su eficiencia y eficacia operativa. Además, lo acompañamos en llevar su empresa o su sitio web a Internet sin tantas complicaciones y con el uso de los últimos estándares de diseño web.")
		meta(name="robots" content="index, follow")

		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-4357165266805463",
			enable_page_level_ads: true
			});

		link(rel="author" href="/humans.txt")
		link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css")
		link(rel="stylesheet" href="css/foundation.css")
		link(rel="stylesheet" href="fonts/foundation-icons.css")
		link(rel="stylesheet" href="https://file.myfontastic.com/9wVLsNdEnAmWNVtS5RkmF9/icons.css")
		link(rel="stylesheet" href="/fonts/icons/fontastic/styles.css")
		link(rel="stylesheet" href="css/app.css")

		title Security Nauj Revilo | SECNAR

body
	include ../blocks/header
	include ../blocks/menu
	block content
	block pub
include ../blocks/footer

	script(src="js/jquery-3.2.1.min.js")
	script(src="js/foundation.js")
	script(src="js/app.js")